<h1>Add a new photo</h1>

<form action = "/create_photo">
  <div>
<label for ="url">
  Image URL
</label>
<input id = "url" name = "the_image_url" type = "text">
</div>

<div>
<label for = "cap">
  Caption
</label>
<input id = "cap" name = "the_caption" type = "text">
</div>

<button>Create Photo</button>
</form>
