<h1>Photo Details</h1>

<p> <%= @caption %> </p>

<img src="<%= @the_image_url %>">

<p><%= time_ago_in_words(@created_at) %> ago</p>

<a href ="#"> go back </a>

<a href ="#"> edit </a>

<a href = "#"> delete </a>
